@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background: #4c1b73;
  background: -webkit-linear-gradient(
    to right,
    #4c1b73 0%,
    #7a48c2 34%,
    #a658e8 78%,
    #bd57ea 100%
  );
  background: -moz-linear-gradient(
    to right,
    #4c1b73 0%,
    #7a48c2 34%,
    #a658e8 78%,
    #bd57ea 100%
  );
  background: linear-gradient(
    to right,
    #4c1b73 0%,
    #7a48c2 34%,
    #a658e8 78%,
    #bd57ea 100%
  );
}

.hero-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-bg {
  background: rgb(87, 37, 136);
  background: -moz-linear-gradient(
    45deg,
    rgba(87, 37, 136, 1) 0%,
    rgba(120, 69, 192, 1) 31%,
    rgba(165, 90, 232, 1) 75%,
    rgba(211, 92, 232, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(87, 37, 136, 1) 0%,
    rgba(120, 69, 192, 1) 31%,
    rgba(165, 90, 232, 1) 75%,
    rgba(211, 92, 232, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(87, 37, 136, 1) 0%,
    rgba(120, 69, 192, 1) 31%,
    rgba(165, 90, 232, 1) 75%,
    rgba(211, 92, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#572588",endColorstr="#d35ce8",GradientType=1);
}

.rotate-3d {
  transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
  box-shadow:
    2em 4em 6em -2em rgba(0, 0, 0, 0.5),
    1em 2em 3.5em -2.5em rgba(0, 0, 0, 0.5);
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
  border-radius: 0.5em;

  &:hover {
    transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
  }
}

.Magic__formBody {
  display: none !important;
}

.Magic__divider {
  display: none !important;
}

/* add "sign in with google" text on id #MagicOauthgoogle */

.Magic__oauthButtonsContainer {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 20px !important;
  box-shadow:
    0 0.75rem 1.25rem -0.375rem rgba(24, 39, 75, 0.02),
    0 1rem 1.625rem -0.25rem rgba(24, 39, 75, 0.04);
  border-radius: 14px;
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
}

.Magic__oauthButtonsContainer:hover {
  box-shadow:
    0 0.75rem 1.25rem -0.375rem rgba(24, 39, 75, 0.06),
    0 1rem 1.625rem -0.25rem rgba(24, 39, 75, 0.08);
}

.Magic__oauthButtonIcon svg {
  width: 1.5rem !important;
}

.Magic__oauthButton {
  display: flex !important;
  gap: 10px !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 20px !important;
}

#MagicOauthgoogle::after {
  content: 'Continue with google';
  font-weight: 500;
}
